body { 
    margin: 0;
    font-size: 25%;
    font-family: 'Helvetica';
}
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #696969; 
}
#header {
    display: block;
    height: 50px;
    width: 100%;
    background: black;
    font-size: 14pt;
    text-align: center;
    color: white;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#437ba3', endColorstr='#234b6f'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#437ba3), to(#234b6f)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #555,  #437ba3); /* for firefox 3.6+ */     
}

#header a {
    margin: 10px;
    float: right;
    font-size: 12pt;
    color: black;
    text-align: right;
}

#sortable {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

#sortable li {
    margin: 3px 3px 3px 20px;
    padding: 1px;
    float: left;
    font-size: 4em;
    text-align: center;
    background: white;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.tickLabel { padding-top: 20px; }

.chart_holder { 
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.chart_div{
    margin: 10;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.edit_btn {
    position: absolute;
    top: 8px;
    right: 67px;
    width: 40px;
    height: 40px;
    z-index: 150;
}

.reload_btn {
    position:absolute;
    top: 8px;
    right: 27px;
    width: 40px;
    height: 40px;
    z-index: 150;
}

.data_loading_img{
    position: absolute;
    z-index: 150;
}
