<div style="position: relative;">
    
    <button id="fullscreen_btn{{ widget.id }}" style="float: right; height: 50px; width: 50px; z-index: 150;"></button>
    <button id="reload_btn{{ widget.id }}" style="float: right; height: 50px; width: 50px; z-index: 150;;"></button>

    <div id='chart_div{{ widget.id }}' style='width: 90%; height: 90%; z-index: 100;'></div>
    <img id="data_loading_img{{ widget.id }}" src="{% url dashboard-media 'img/ajax-loader.gif' %}" style="top: 290px; left: 275px; position: absolute; z-index: 150;"/>    
</div>
