    
    <button id="fullscreen_btn{{ widget.id }}" style="float: right; height: 5%; width: 5%; z-index: 150;"></button>
    <button id="reload_btn{{ widget.id }}" style="float: right; height: 5%; width: 5%; z-index: 150;"></button>

    <div id='chart_div{{ widget.id }}' class="chart_div" style='position: relative; width: 100%; height: 100%; z-index: 100;'></div>
    <img id="data_loading_img{{ widget.id }}" src="{% url dashboard-media 'img/ajax-loader.gif' %}" style="top: {{ widget.loader_top }}px; left: {{ widget.loader_left }}px; position: absolute; z-index: 150;"/>
