<html>
    <head>
        <title>Dashboard</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" type="text/javascript"></script> 
        <script src="{% url curator-media 'js/jquery.flot.js' %}"></script> 
        <script src="{% url curator-media 'js/global.js' %}"></script>
        <script src="http://jqueryui.com/ui/jquery.ui.core.js"></script> 
        <script src="http://jqueryui.com/ui/jquery.ui.widget.js"></script> 
        <script src="http://jqueryui.com/ui/jquery.ui.mouse.js"></script> 
        <script src="http://jqueryui.com/ui/jquery.ui.sortable.js"></script> 
        <script src="http://jqueryui.com/ui/jquery.ui.resizable.js"></script> 
        <link rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css"> 
        <meta charset="utf-8">
        
        {% block head %}{% endblock %}
    </head>    
    <body bgcolor="silver">
        {% block body %}{% endblock %}
    </body>
</html>
