    <div id='chart_holder{{ widget.id }}' class="chart_holder">
        <div id='chart_div{{ widget.id }}' class="chart_div" data-id='{{ widget.id }}'></div>
        <button id="edit_btn{{ widget.id }}" class="edit_btn" data-url='{% url admin:curator_dashboardwidget_change widget.id %}'></button>
        <button id="reload_btn{{ widget.id }}" class="reload_btn" data-id='{{ widget.id }}'></button>
        <img id="data_loading_img{{ widget.id }}" class='data_loading_img' src="{% url curator-media 'img/ajax-loader.gif' %}" style="top: {{ widget.loader_top }}px; left: {{ widget.loader_left }}px;" />
    </div>
